@import "tailwindcss";

:root {
  --primaryBg: #051a2f;
  --font-inter: "Inter", sans-serif;
  --font-anton: "Anton", sans-serif;
}

html,
* {
  scroll-behavior: smooth;
}

/* Set global font styles */
body {
  font-family: var(--font-inter), sans-serif;
  /* Default font is Inter */
}

/* Use Anton font for specific elements */
.font-anton {
  font-family: var(--font-anton), sans-serif;
}

@layer utilities {
  .bg-primaryBg {
    background-color: var(--primaryBg);
  }

  .text-primaryBg {
    color: var(--primaryBg);
  }
}