.slideAnim {
    animation: slide 10s infinite linear;
}

.slideAnim2 {
    animation: slide2 8s infinite ease-in-out;
}

.slideAnim3 {
    animation: slide3 8s infinite ease-in-out;
}

.rotateAnim {
    animation: rotate 10s infinite linear;
}

.rotateAnim2 {
    animation: rotate2 10s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(-10%);
    }
}

@keyframes slide2 {
    0% {
        transform: translate(-7px);
    }

    50% {
        transform: translate(7px);
    }

    100% {
        transform: translate(-7px);
    }
}

@keyframes slide3 {
    0% {
        transform: translateY(-7px);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(-7px);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    to {
        transform: rotate(-360deg);
    }
}


/* Highlights Animation */

.CirkelMain {
    align-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: 72px;
    animation: rotate 5s infinite linear;
}

.CirkelMainCitation {
    -webkit-mask: url(https://framerusercontent.com/images/caWUunPE0l3gKu44WEwyMAtfM.svg) alpha no-repeat center / cover add;
    aspect-ratio: 1.6470588235294117 / 1;
    background-color: #e9fa49;
    mask: url(https://framerusercontent.com/images/caWUunPE0l3gKu44WEwyMAtfM.svg) alpha no-repeat center / cover add;
    width: 28px;
    z-index: 3;
    animation: rotate2 5s infinite linear;
}

.CirkelMainBg {
    -webkit-mask: url(https://framerusercontent.com/images/r7DLhVNJ2CVMamvyhv4EwAIj1h8.svg) alpha no-repeat center / cover add;
    background-color: #9d89fc;
    height: 100%;
    mask: url(https://framerusercontent.com/images/r7DLhVNJ2CVMamvyhv4EwAIj1h8.svg) alpha no-repeat center / cover add;
    position: absolute;
    width: 100%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    to {
        transform: rotate(-360deg);
    }
}


/* contact Css */

.contactMask {
    background: #051a2f;
    width: 30px;
    height: 30px;
    -webkit-mask: url(https://framerusercontent.com/images/YJJUhwYD82Nvq7zjhSAf6Y9e0k.svg) no-repeat center;
    mask: url(https://framerusercontent.com/images/YJJUhwYD82Nvq7zjhSAf6Y9e0k.svg) no-repeat center;
}
.contactMask2 {
    background: #051a2f;
    width: 30px;
    height: 30px;
    -webkit-mask: url(https://framerusercontent.com/images/GAskLMgtJQVT0otA40gyxUzU9MQ.svg) no-repeat center;
    mask: url(https://framerusercontent.com/images/GAskLMgtJQVT0otA40gyxUzU9MQ.svg) no-repeat center;
}
.contactMask3 {
    background: #051a2f;
    width: 30px;
    height: 30px;
    -webkit-mask: url(https://framerusercontent.com/images/q2otjfANu5wjlysduT2vMi1R8.svg) no-repeat center;
    mask: url(https://framerusercontent.com/images/q2otjfANu5wjlysduT2vMi1R8.svg) no-repeat center;
}